<!DOCTYPE html>
<html lang="pt=br">

<head>
  <title>3PST</title>
  <!--CSS-->
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="aoercut icon" href="../static/img/3pst.png" sizes="32x32" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <!--Cabeçalho da page-->
  <div class="d-flex flex-row">
    <div class="p-2 image-header">
      <a href="https://www.gov.br/inpe/pt-br"><img class="img-fluid image" src="../static/img/inpelogo.png"
          alt="logo-inpe"></a>
      <img class="img-fluid image" src="../static/img/3pst.png" alt="logo-3pst">
    </div>
    <div class="p-4 text-header">Sistema de Gerenciamento de Portfólio do INPE - V2.0</div>
    <div class="containerProfile">
				<a class="btn icon-profile" href="detalhesperfil">Meu perfil</a>
        <a class="btn logout" href="logout">Sair</a>
    </div>
  </div>
  <div class="image-inpe"><a href="https://www.gov.br/inpe/pt-br"><img class="img-fluid"
        src="../static/img/logo_aniversário_INPE.jpeg" alt="logo-aniversario-inpe"></a></div>

  <!--cards -->
  <div class="container-fluid">
    <div class="row centered">
      <div class="col-md-2 box">
        <a href="/listarprojeto"><img class="image-card" src="../static/img/projeto.jpg" alt="img-cadastrarprojeto">
          <p class="text-card">Projetos</p>
        </a>
      </div>
      <div class="col-md-2 box">
        <a href="/cadastrarprograma"><img class="image-card" src="../static/img/programa.jpg"
            alt="img-cadastrarprograma">
          <p class="text-card">Programas</p>
        </a>
      </div>
      <div class="col-md-2 box">
        <a href="/cadastrarservico"><img class="image-card" src="../static/img/servico.jpg" alt="img-cadastrarservico">
          <p class="text-card">Serviços</p>
        </a>
      </div>
    </div>

    <div class="row centered">
      <div class="col-md-2 box">
        <a href="/cadastrarcolaboradorinpe "><img class="image-card" src="../static/img/colaboradorinpe.jpg"
            alt="img-cadastrarcolaboradorinpe">
          <p class="text-card">Colaborador INPE</p>
        </a>
      </div>
      <div class="col-md-2 box">
        <a href="/cadastrarcolaboradorexterno"><img class="image-card" src="../static/img/colaboradorexterno.jpg"
            alt="img-cadastrarcolaboradorexterno">
          <p class="text-card">Colaborador Externo</p>
        </a>
      </div>
      <div class="col-md-2 box">
        <a href="/cadastrarorganizacaoexterna"><img class="image-card" src="../static/img/organizacaoexterna.jpg"
            alt="img-cadastrarorganizacaoexterna">
          <p class="text-card">Organização Externa</p>
        </a>
      </div>
    </div>

    <div class="row centered">
      <div class="col-md-2 box">
        <a href="/catalogodeiniciativasinstitucionais "><img class="image-card" src="../static/img/iniciativas.jpg"
            alt="img-catalogodeiniciativasinstitucionais">
          <p class="text-card">Catálogo de <br>Iniciativas Institucionais</p>
        </a>
      </div>
      <div class="col-md-2 box">
        <a href="/projetosxprogramas"><img class="image-card" style="width: 90px;"
            src="../static/img/projetosxprogramas.jpg" alt="img-projetosxprogramas">
          <p class="text-card">Projetos x Programas</p>
        </a>
      </div>
      <div class="col-md-2 box">
        <br><a href="/sobre"><img class="image-card" style="width: 60px; height: 50px;" src="../static/img/3pst.png"
            alt="img-sobre"><br><p class="text-card">Sobre</p></a>
      </div>
    </div>
  </div>
</body>

</html>