{{ form.hidden_tag() }}
<div class="row g-2 container-fluid">
    <div class="col-md-6" id="lado_direito">
        <div class="form-group">
            {{ form.areaPrioritariaENCTI.label(class="form-control-label") }}
            {{ form.areaPrioritariaENCTI(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.periodoAlinha2.label(class="form-control-label") }}
            {{ form.periodoAlinha2(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.evidenciaAlinha2AreaPrioritaria.label(class="form-control-label") }}
            {{ form.evidenciaAlinha2AreaPrioritaria(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.objetivosDesenvolvimento.label(class="form-control-label") }}
            {{ form.objetivosDesenvolvimento(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.evidenciaAlinha2Objetivos.label(class="form-control-label") }}
            {{ form.evidenciaAlinha2Objetivos(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.mapaEstrategico.label(class="form-control-label") }}
            {{ form.mapaEstrategico(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.evidenciaAlinha2MapaEstrategico.label(class="form-control-label") }}
            {{ form.evidenciaAlinha2MapaEstrategico(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.eixosDiretrizesEstrategia.label(class="form-control-label") }}
            {{ form.eixosDiretrizesEstrategia(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.evidenciaAlinha2EixosDiretrizes.label(class="form-control-label") }}
            {{ form.evidenciaAlinha2EixosDiretrizes(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.areaTematicaMCTI.label(class="form-control-label") }}
            {{ form.areaTematicaMCTI(class="form-control form-control-lg") }}
        </div>
    </div>
    <div class="col-md-6" id="lado_esquerdo">
        <div class="form-group">
            {{ form.evidenciaAlinha2AreaTematica.label(class="form-control-label") }}
            {{ form.evidenciaAlinha2AreaTematica(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.areaTecnologiasPrioritarias.label(class="form-control-label") }}
            {{ form.areaTecnologiasPrioritarias(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.evidenciaAlinha2AreaTecnologias.label(class="form-control-label") }}
            {{ form.evidenciaAlinha2AreaTecnologias(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.politicasPublicas.label(class="form-control-label") }}
            {{ form.politicasPublicas(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.outrasPoliticasPublicas.label(class="form-control-label") }}
            {{ form.outrasPoliticasPublicas(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.evidenciaAlinha2OutrasPoliticasPublicas.label(class="form-control-label") }}
            {{ form.evidenciaAlinha2OutrasPoliticasPublicas(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.impactado.label(class="form-control-label") }}
            {{ form.impactado(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.justificativa.label(class="form-control-label") }}
            {{ form.justificativa(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.estrategia.label(class="form-control-label") }}
            {{ form.estrategia(class="form-control form-control-lg") }}
        </div>
    </div>
</div>