{{ form.hidden_tag() }}
<div class="row g-2 container-fluid">
    <div class="col-md-6" id="lado_direito">
        <div class="form-group">
            {{ form.descricaoProdutosServicos.label(class="form-control-label") }}
            {{ form.descricaoProdutosServicos(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.justificativaDescricao.label(class="form-control-label") }}
            {{ form.justificativaDescricao(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.resultadosEsperados.label(class="form-control-label") }}
            {{ form.resultadosEsperados(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.capacidadeTecnica.label(class="form-control-label") }}
            {{ form.capacidadeTecnica(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.publicoAlvo.label(class="form-control-label") }}
            {{ form.publicoAlvo(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.objetivoGeral.label(class="form-control-label") }}
            {{ form.objetivoGeral(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.objetivosEspecificos.label(class="form-control-label") }}
            {{ form.objetivosEspecificos(class="form-control form-control-lg") }}
        </div>
    </div>
    <div class="col-md-6" id="lado_esquerdo">
        <div class="form-group">
            {{ form.metasProjetoCriterios.label(class="form-control-label") }}
            {{ form.metasProjetoCriterios(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.trlAtual.label(class="form-control-label") }}
            {{ form.trlAtual(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.trlEsperado.label(class="form-control-label") }}
            {{ form.trlEsperado(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.trlFinal.label(class="form-control-label") }}
            {{ form.trlFinal(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.requisitosEncerramento.label(class="form-control-label") }}
            {{ form.requisitosEncerramento(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.sustentabilidade.label(class="form-control-label") }}
            {{ form.sustentabilidade(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.objetivoDescricao.label(class="form-control-label") }}
            {{ form.objetivoDescricao(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.descricaoCatalogoInstitucional.label(class="form-control-label") }}
            {{ form.descricaoCatalogoInstitucional(class="form-control form-control-lg") }}
        </div>
    </div>
</div>