{{ form.hidden_tag() }}
<div class="row g-2 container-fluid">
    <div class="col-md-6" id="lado_direito">
        <div class="form-group">
            {{ form.stk_parteInteressada.label(class="form-control-label") }}
            {{ form.stk_parteInteressada(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.stk_expectativa.label(class="form-control-label") }}
            {{ form.stk_expectativa(class="form-control form-control-lg") }}
        </div>
    </div>
    <div class="col-md-6" id="lado_esquerdo">
        <div class="form-group">
            {{ form.stk_requisito.label(class="form-control-label") }}
            {{ form.stk_requisito(class="form-control form-control-lg") }}
        </div>
    </div>
</div>