* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.image-header {
    margin-left: 75px;
}

.image {
    width: 90px;
    margin-right: 20px;
}

.text-header {
    display: inline-flex;
    font-size: 28px;
    align-items: center;
    text-align: center;
}

.form {
    width: 400px;
    margin: auto;
    padding-top: 40px;
}

.card {
    box-shadow: 1px 1px 5px #ccc;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}

.card-top {
    text-align: center;
    margin-bottom: 5px;
}

.card-group>label {
    width: 100%;
    display: block;
    margin-top: 5px;
}

.card-group>input {
    border-radius: 5px;
    outline: 0;
    width: 100%;
    margin-bottom: 12px;
}

.card-group>select {
    border-radius: 5px;
    height: 35px;
    width: 100%;
    padding-left: 5px;
    margin-bottom: 12px;
}

.btn {
    width: 50%;
    margin: auto;
    margin-top: 10px;
}