* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.top {
    text-align: center;
}

.button-toggle {
    border: none;
}

.image {
    width: 90px;
    margin-right: 15px;
}

.text-header {
    margin-left: -30px;
    display: inline-flex;
    font-size: 28px;
    align-items: center;
    text-align: center;
}

.middle {
    text-align: center;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.text-td {
    color: black;
}

.card{
    width: 95%;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
