<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Cadastro de programa</title>
		<!--CSS-->
		<meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="aoercut icon" href="../static/img/3pst.png" sizes="32x32" type="image/png">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
 <body>
  <header>
   <!--Cor e formato-->
   <nav class="navbar">
    <div class="container-fluid">
     <!--Logos-->
     <a class="navbar-brand">
      <img id="logo" src="../static/img/inpelogo.png" width="60px" disable>
      <img class="logo" src="../static/img/3pst.png" width="60px" disable>
     </a>
     <span class="navbar-brand mb-0 h1">Sistema de Gerenciamento de Portfólio do INPE - v2.0</span>
     <!--Botão 'recursivo'-->
     <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
     </button>
     <!--Dropdown/ menu-->
     <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
       <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
       <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
       <!--Canto direito superior-->
       <form class="d-flex mt-3" role="search">
        <input class="form-control me-2" type="search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
       </form>
       <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <!--'menu': Home-->
        <li class="nav-item">
         <a class="nav-link active" aria-current="page" href="../templates/index.html">Home</a>
        </li>
        <!--'menu': Cadastrar-->
        <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cadastrar</a>
         <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="../templates/cadastrarprojeto.html">Novo projeto</a></li>
          <li><a class="dropdown-item" href="../templates/cadastrarprograma.html">Novo programa</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="../templates/cadastrarcolaboradorinpe.html">Novo colaborador INPE</a></li>
          <li><a class="dropdown-item" href="../templates/cadastrarcolaboradorexterno.html">Novo colaborador externo</a></li>
          <li><a class="dropdown-item" href="../templates/cadastrarorganizacaoexterna.html">Nova organização externa</a></li>
         </ul>
        </li>
        <!--'menu': Relatórios-->
        <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Relatórios</a>
         <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="../templates/listarprojeto.html">Lista de projetos</a></li>
          <li><a class="dropdown-item" href="../templates/listarprograma.html">Lista de programas</a></li>
          <li><a class="dropdown-item" href="../templates/listarservico.html">Lista de serviço</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="../templates/projetosxprogramas.html">Projetos x Programas</a></li>
         </ul>
        </li>
        <!--'menu': Ajuda-->
        <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ajuda</a>
         <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="../templates/sobre.html">Sobre</a></li>
          <li><a class="dropdown-item" href="../templates/duvidasfrequentes.html">Dúvidas frequentes</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="../templates/opniõesperguntas.html">Opiniões e perguntas</a></li>
         </ul>
        </li>
        <!--'menu': Catalago-->
        <li class="nav-item">
         <a class="nav-link active" aria-current="page" href="../templates/catalogodeiniciativasinstitucionais.html">Catalago de iniciativas</a>
        </li>
       </ul>
      </div>
     </div>
    </div>
   </nav>
		</header><br>
		<!--Barra de Cadastro-->
		<div class="card text-center" id="abas">
			<h3>Cadastro de organização externa</h3>
			<div class="card-header">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<!--Identificação-->
					<li class="nav-item" role="presentation">
					  <button class="nav-link active" id="Identificacao-tab" data-bs-toggle="tab" data-bs-target="#Identificacao-tab-pane" type="button" role="tab"
					  aria-controls="Identificacao-tab-pane" aria-selected="true">Identificação</button>
					</li>
				</ul><br>
				<div class="tab-content" id="myTabContent">
					<!--Identificação-->
					<div class="tab-pane show active" id="nav-identificacao" role="tabpanel" aria-labelledby="nav-identificacao-tab" tabindex="0">
						<div class="row g-2 container-fluid">
							<div class="form-floating">
								<input type="text" class="form-control" id="floatingInputGrid">
								<label for="floatingInputGrid">Sigla da organização externa</label>
							</div><br>
       <div class="form-floating">
								<input type="text" class="form-control" id="floatingInputGrid">
								<label for="floatingInputGrid">Nome da organização externa</label>
							</div><br>
						</div>
					</div>
				</div>
			</div>
		</div>
  <!--Barra Fixa-->
  <div class="btn-group fixed-bottom" role="group" aria-label="Basic radio toggle button group">
   <a href="../templates/cadastrarorganizacaoexterna.html" class="btn btn-success">Salvar</a>
   <a href="#" class="btn btn-success">Consultar</a>
   <a href="#" class="btn btn-success">Alterar</a>
   <a href="#" class="btn btn-success">Excluir</a>
   <a href="../templates/index.html" class="btn btn-secondary">Cancelar</a>
  </div>
  <!--JS-->
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
