<!DOCTYPE html>
<html lang="pt-br">
 <head>
  <title>Recuperar senha</title>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/login.css">
  <link rel="aoercut icon" href="../static/img/3pst.png" sizes="32x32" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 </head>
 <body>
  <nav class="navbar">
   <div class="container">
    <a class="navbar-brand">
     <a href="https://www.gov.br/inpe/pt-br">
      <img src="../static/img/inpelogo.png" alt="Logo do INPE" class="logo">
     </a>
     <img src="../static/img/3pst.png" alt="Logo do 3PST" class="logo">
    </a>
    <span class="navbar-brand mb-0 h1">Sistema de Gerenciamento de Portfólio do INPE - v2.0</span>
   </div>
  </nav>
  <form class="form" action="#">
   <div class="card">
    <div class="card-top">
     <h2 class="h2">Esqueceu a senha?</h2>
    </div>
    <div class="card-group">
     <label>E-mail institucional</label>
     <input type="text" name="nome" placeholder="name@example.com">
    </div>
    <div class="card-group btn">
					<a class="logar" href="../templates/login.html">Enviar</a>
				</div>
   </div>
  </form>
 </body>
</html>